@font-face {
  font-family: "iconfont"; /* Project id 4981191 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1753365660981') format('woff2'),
       url('iconfont.ttf?t=1753365660981') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-qipaishi:before {
  content: "\e654";
}

.iconfont-home-nav-casino:before {
  content: "\e600";
}

.iconfont-home-nav-fishing:before {
  content: "\e601";
}

.iconfont-home-nav-poker:before {
  content: "\e603";
}

.iconfont-home-nav-slots:before {
  content: "\e604";
}

.iconfont-home-nav-hot:before {
  content: "\e605";
}

.iconfont-money:before {
  content: "\e602";
}

.iconfont-jinbi:before {
  content: "\e60e";
}

.iconfont-jinbi1:before {
  content: "\e6b1";
}

.iconfont-a-1:before {
  content: "\e6ea";
}

.iconfont-youxiangyanzhengma:before {
  content: "\e66a";
}

.iconfont-shouji:before {
  content: "\e692";
}

.iconfont-tuxingma:before {
  content: "\e69e";
}

.iconfont-tuxingma1:before {
  content: "\e629";
}

.iconfont-duanxinyanzhengma:before {
  content: "\e61b";
}

.iconfont-yanzhengma:before {
  content: "\e67c";
}

